<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<link href=' http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'><html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro" />
  </head>
  <body style="margin: 0; padding: 0; background-color: #f9fafb;">
    <table border="0" cellpadding="0" cellspacing="0" align="center" width="600px" height="380px" style="background-color: #ffffff; border-radius: 5px; margin-top: 17px;">
      <tr style="background-color: #000000; color: #FFFFFF; border-radius: 5px" height="50px">
        <td align="center" valign="middle">
          <p>backend-challenge-001</p>
        </td>
      </tr>
      <tr>
        <td align="center" valign="middle">
          <h1 style="font-family: Montserrat, Sans-Serif, sans-serif; font-size: 28px; text-align: center; color: #2c3e50; margin: 23px 77px 0;">
            Time for a change!
          </h1>
        </td>
      </tr>
      <tr>
        <td align="center" valign="middle">
          <p style="font-family: 'Source Sans Pro', Sans-Serif, sans-serif; font-size: 14px; text-align: center; color: #717f80; margin: 23px 77px 0;">
            We recently received a request to change your email address for backend-challenge-001 from
              {{ email }}. Just click the button below to confirm this change and follow the steps that follow.<br/><br/>If this was not you simply ignore this email.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <table border="0" cellpadding="0" cellspacing="0" width="210" align="center" style="margin-top: 38px; margin-bottom: 50px;">
            <tr height="40">
              <td align="center" style="background: #e82f72; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; " valign="middle">
                <a href="{{ confirmation_link }}" style="color: #FFF; font-family: 'Source Sans Pro', Sans-Serif, sans-serif; font-size: 14px; text-decoration: none;">CHANGE YOUR EMAIL</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
